<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">

 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="/TravelTime/static/end.css" />
 </head>

<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>



 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>



    <!-- Page Content -->
   <div class="container page-top">



        <div class="row">


      <!-- 1 -->      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <!--     <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">

                </a>
                -->

            </div>

     <!-- 2 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://www.wanderlustingk.com/travel-blog/new-york-city-in-winter"  class="fancybox" rel="ligthbox">
                    <img  src="https://www.gannett-cdn.com/media/2018/12/15/USATODAY/usatsports/MotleyFool-TMOT-657f0436-21e9af86.jpg?quality=50" class="zoom img-fluid"  alt="">
                    <figcaption>New York, USA  </figcaption>
                </a>

            </div>

     <!-- 3 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://www.theinvisibletourist.com/2-weeks-in-japan-itinerary-first-time/" class="fancybox" rel="ligthbox">
                    <img  src="https://www.arcgis.com/sharing/rest/content/items/3a00954d628441e391853d01c3baf9d0/resources/1575857148392.jpeg?w=2627" class="zoom img-fluid "  alt="">
                    <figcaption>Japan  </figcaption>
                </a>
            </div>

      <!-- 4 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <!-- <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>

       <!-- 5 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
               <!-- <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>

        <!-- 6 -->      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://www.roughguides.com/destinations/asia/india/itineraries/" class="fancybox" rel="ligthbox">
                    <img  src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/1200px-Flag_of_India.svg.png" class ="zoom img-fluid "  alt="">
                    <figcaption>India </figcaption>
                </a>
            </div>

         <!-- 7 -->     <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="/quiz" class="fancybox" rel="ligthbox">
                    <img  src="https://i.postimg.cc/MHvn4gs3/reload.webp" class="zoom img-fluid "  alt="">
                    <figcaption>Try the quiz again!</figcaption>
                </a>
            </div>

         <!-- 8 -->     <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <!-- <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>




       </div>




    </div>
    <script type="text/javascript" src="{{ url_for('static', filename = 'end.js') }}"></script>
</html>