<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">

 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="/TravelTime/static/end.css" />
 </head>

<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>



 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>



    <!-- Page Content -->
   <div class="container page-top">



        <div class="row">


      <!-- 1 -->      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <!--     <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">

                </a>
                -->

            </div>

     <!-- 2 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://www.thegonegoat.com/taiwan/taiwan-adventure-itinerary"  class="fancybox" rel="ligthbox">
                    <img  src="https://i.postimg.cc/FHDJZtsT/taiwan.jpg" class="zoom img-fluid"  alt="">
                    <figcaption>Taiwan </figcaption>
                </a>

            </div>

     <!-- 3 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://www.lonelyplanet.com/articles/planning-your-dream-himalayan-trip" class="fancybox" rel="ligthbox">
                    <img  src="https://i.postimg.cc/rs1DR3PC/Himalayas-India.jpg" class="zoom img-fluid "  alt="">
                    <figcaption>Himalayas, India </figcaption>
                </a>
            </div>

      <!-- 4 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <!-- <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>

       <!-- 5 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
               <!-- <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>

        <!-- 6 -->      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://traveler.marriott.com/greece/what-to-do-in-crete/" class="fancybox" rel="ligthbox">
                    <img  src="https://i.postimg.cc/XqbJWxYZ/crete-greece.jpg" class ="zoom img-fluid "  alt="">
                    <figcaption>Crete, Greece </figcaption>
                </a>
            </div>

         <!-- 7 -->     <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="templates/quiz" class="fancybox" rel="ligthbox">
                    <img  src="https://i.postimg.cc/MHvn4gs3/reload.webp" class="zoom img-fluid "  alt="">
                    <figcaption>Try the quiz again!</figcaption>
                </a>
            </div>

         <!-- 8 -->     <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <!-- <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>




       </div>




    </div>
    <script type="text/javascript" src="{{ url_for('static', filename = 'end.js') }}"></script>
</html>