<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">

 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="/TravelTime/static/end.css" />
 </head>

<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>



 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>




</style>
    <!-- Page Content -->
   <div class="container page-top">


        <div class="row">


      <!-- 1 -->      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <!--     <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">

                </a>
                -->

            </div>

     <!-- 2 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://itsasweetsweetworld.com/2019/05/16/11-things-to-do-in-cancun-mexico-6-day-itinerary/"  class="fancybox" rel="ligthbox">
                    <img  src="https://i.postimg.cc/Y94SXKrr/cancun.jpg" class="zoom img-fluid"  alt="">
                    <figcaption>Cancun, Mexico</figcaption>
                </a>

            </div>

     <!-- 3 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://jamaicans.com/3-day-itinerary-for-negril/" class="fancybox" rel="ligthbox">
                    <img  src="https://i.postimg.cc/QCGj0FYm/jamaica.jpg" class="zoom img-fluid "  alt="">
                    <figcaption>Negril, Jamaica</figcaption>
                </a>
            </div>

      <!-- 4 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <!-- <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>

       <!-- 5 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
               <!-- <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>

        <!-- 6 -->      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://www.inspirock.com/trip/5-days-in-punta-cana-itinerary-with-outdoors-relaxing-beaches-and-wildlife-a9226c9a0-a9a4-4e77-a2b0-8f5fdfec585f/overview" class="fancybox" rel="ligthbox">
                    <img  src=https://i.postimg.cc/9MThRWX7/punta-cana.jpg class="zoom img-fluid "  alt="">
                    <figcaption>Punta Cana, Dominican Republic</figcaption>
                </a>
            </div>

         <!-- 7 -->     <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="quiz" class="fancybox" rel="ligthbox">
                    <img  src="https://i.postimg.cc/MHvn4gs3/reload.webp" class="zoom img-fluid "  alt="">
                    <figcaption>Try the quiz again!</figcaption>
                </a>
            </div>

         <!-- 8 -->     <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <!-- <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>




       </div>




    </div>
    <script type="text/javascript" src="{{ url_for('static', filename = 'end.js') }}"></script>
</html>