<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">

 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="/TravelTime/static/end.css" />
 </head>

<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>



 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>



    <!-- Page Content -->
   <div class="container page-top">



        <div class="row">


      <!-- 1 -->      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
           <!--     <a href="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">

                </a>
                -->

            </div>

     <!-- 2 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://www.earthtrekkers.com/5-days-in-new-york-city-itinerary/"  class="fancybox" rel="ligthbox">
                    <img  src="https://cached.imagescaler.hbpl.co.uk/resize/scaleHeight/815/cached.offlinehbpl.hbpl.co.uk/news/OMC/TimesSquare-20151006033612984.jpg" class="zoom img-fluid"  alt="">
                    <figcaption>New York, USA  </figcaption>
                </a>

            </div>

     <!-- 3 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://www.tripsavvy.com/48-hours-in-athens-greece-4143294" class="fancybox" rel="ligthbox">
                    <img  src="https://www.tripsavvy.com/thmb/peRIe7VfU_LeAf4OJ0K7zSQyRr0=/1000x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/DSC_0133-5c7573e6c9e77c000136a608.jpg" class="zoom img-fluid "  alt="">
                    <figcaption>Athens, Greece  </figcaption>
                </a>
            </div>

      <!-- 4 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <!-- <a href="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>

       <!-- 5 -->       <div class="col-lg-3 col-md-4 col-xs-6 thumb">
               <!-- <a href="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>

        <!-- 6 -->      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="https://www.earthtrekkers.com/3-days-in-paris-itinerary/" class="fancybox" rel="ligthbox">
                    <img  src="https://cdn.mos.cms.futurecdn.net/z3rNHS9Y6PV6vbhH8w83Yn.jpg" class ="zoom img-fluid "  alt="">
                    <figcaption>Paris, France  </figcaption>
                </a>
            </div>

         <!-- 7 -->     <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href="quiz" class="fancybox" rel="ligthbox">
                    <img  src="https://i.postimg.cc/MHvn4gs3/reload.webp" class="zoom img-fluid "  alt="">
                    <figcaption>Try the quiz again!</figcaption>
                </a>
            </div>

         <!-- 8 -->     <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <!-- <a href="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="fancybox" rel="ligthbox">
                    <img  src="https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="zoom img-fluid "  alt="">
                </a> -->
            </div>




       </div>




    </div>
    <script type="text/javascript" src="{{ url_for('static', filename = 'end.js') }}"></script>
</html>